<!--about-->
<section id="about" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="section-title">
          <h2 class="head-title lg-line">The CareConnect <br>Ultimate Dream</h2>
          <hr class="botm-line">
          <p class="sec-para">Our vision is to revolutionize healthcare by providing top-notch, accessible services to everyone, anytime, anywhere.</p>
          <a href="" style="color: #0cb8b6; padding-top:10px;">Know more..</a>
        </div>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <div style="visibility: visible;" class="col-sm-9 more-features-box">
          <div class="more-features-box-text">
            <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
            <div class="more-features-box-text-description">
              <h3>Innovative Healthcare Solutions</h3>
              <p>We bring cutting-edge technology and personalized care to ensure the best outcomes for our patients.</p>
            </div>
          </div>
          <div class="more-features-box-text">
            <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
            <div class="more-features-box-text-description">
              <h3>Compassionate Patient Care</h3>
              <p>Our team is dedicated to providing compassionate care and support to all our patients.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ about-->

<!--cta 2-->
<section id="cta-2" class="section-padding">
  <div class="container">
    <div class=" row">
      <div class="col-md-2"></div>
      <div class="text-right-md col-md-4 col-sm-4">
        <h2 class="section-title white lg-line">« A few words<br> about us »</h2>
      </div>
      <div class="col-md-4 col-sm-5">
        We are committed to delivering the highest quality healthcare services, ensuring patient satisfaction and well-being at every step.
        <p class="text-right text-primary"><i>— CareConnect Healthcare</i></p>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</section>
<!--cta-->
