<!--cta-->
  <section id="cta-1" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="schedule-tab">
          <div class="col-md-4 col-sm-4 bor-left">
            <div class="mt-boxy-color"></div>
            <div class="medi-info">
              <h3>24/7 Medical Chatbot Assistance</h3>
              <p>
                  Our AI-driven Medical Chatbot provides immediate health assistance and advice anytime you need it. Quick and reliable information at your fingertips.
              </p>
              <a href="#" class="medi-info-btn">READ MORE</a>
          </div>
          </div>
          <div class="col-md-4 col-sm-4">
              <div class="medi-info">
                  <h3>Rapid Pneumonia X-ray Analysis</h3>
                  <p>
                      Get quick and accurate Pneumonia X-ray Analysis with our cutting-edge diagnostic tools. Trust us for timely medical intervention.
                  </p>
                  <a href="#" class="medi-info-btn">READ MORE</a>
              </div>
          </div>
          <div class="col-md-4 col-sm-4">
              <div class="medi-info">
                  <h3>Advanced Brain MRI Analysis</h3>
                  <p>
                      Utilize our advanced MRI technology to swiftly determine the presence of brain tumors. Precision and expertise at your service.
                  </p>
                  <a href="#" class="medi-info-btn">READ MORE</a>
              </div>
          </div>
          
          
          
          </div>
       
        </div>
      </div>
    </div>
  </section>
  <!--cta-->